body{
	font-size: 12px;
}
.navbar-nav>li .icon{
	margin: 5px 5px 0 0;
}
.downloadFileBtn .icon{
	margin: 4px 1px 0 0;
}
.downloadFileBtn .icon-download{
	background: #fff;
}
.downloadFileBtn .icon-download:before{
	border-color:#fff transparent transparent transparent;
}
.downloadFileBtn .icon-download:after{
	border-color: #fff;
}
.roadPath{
	margin: 10px 0;
}
.uploadFileInput{
	border-radius: 5px;
	background: #fff;
}
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
code{
	word-break: break-all;
	word-wrap : break-word;
	white-space:normal,
}
.jumbotron .h1, .jumbotron h1{
	font-family: "Microsoft Yahei";
	color: #666;
	font-size: 50px;
}
.jumbotron p{
	color: #555;
}